aniso8601
api
attrs
beautifulsoup4
certifi
chardet
click
comtypes
docopt
fastcache
Flask
Flask-API
Flask-RESTful
idna
importlib-metadata
itsdangerous
Jinja2
Js2Py
JsonForm
jsonschema

MarkupSafe



mpmath
nose
numpy
packaging

PyAudio
pyjsparser
pyparsing

PyPrind
pyrsistent
pySmartDL
Python-EasyConfig
python-resources
pyttsx3
pytz

PyYAML
requests
Resource
scipy
six
soupsieve
SpeechRecognition
sympy
TBB
tzlocal
urllib3
Werkzeug
wincertstore
zipp
